/* 🖼️ Contêiner Flexbox Principal */
.champios-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px auto 0px auto;
  margin-top: 0px;
  border: 3px solid red;
  width: 80%;
  max-height: 376px;
  overflow-y: auto;
}

.champions {
  list-style: none;
  color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px auto;
  justify-content: center;
  height: auto;
  gap: 10px;
  margin: 8px;
}
.champions li {
  padding: 0rem;
  margin-bottom: 1rem;
  height: 9.1rem;
}
.champions li:hover {
  transform: translateY(-3px); /* Leve levantamento ao passar o mouse */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5); /* Sombra maior para destacar */
  background: rgba(0, 0, 0, 0);
}
.champions a {
  text-decoration: none;
  color: var(--text-color);
}
