.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  justify-content: space-between;
  border: 1px solid red;
  width: 90%;
}
