.frame {
  width: 70px;
  height: 80px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: flex-end;
  background-color: aqua;
}
.frame img {
  width: 100%;
  height: 75px;
}
.frame p {
  width: 100%;
  text-align: center;
  background-color: goldenrod;
  color: black;
}
