* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  /* background-color: var(--background-color); */
  color: var(--text-color);
  font-family: 'Beaufort', sans-serif;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-size: 1.6 rem;

  background: #020024;
  background: #020024;
  background: #152036;
  background: radial-gradient(
    circle,
    rgba(21, 32, 54, 1) 80%,
    rgba(11, 11, 38, 1) 100%,
    rgba(9, 93, 110, 1) 88%
  );
}
/* --- ESTILO GLOBAL DA SCROLLBAR --- */

/* 1. Para Chrome, Edge, Safari e navegadores baseados em Webkit */
::-webkit-scrollbar {
  width: 6px; /* Largura da barra vertical */
  height: 6px; /* Altura da barra horizontal */
}

::-webkit-scrollbar-track {
  background: #010a13; /* Cor do fundo da trilha */
}

::-webkit-scrollbar-thumb {
  background: #c89b3c; /* Cor do "puxador" (Dourado Hextech) */
  border-radius: 10px; /* Arredondamento */
  border: 1px solid #010a13; /* Cria um respiro entre o puxador e a borda */
}

::-webkit-scrollbar-thumb:hover {
  background: #f0e6d2; /* Cor quando passa o mouse */
}

/* 2. Para Firefox (usa propriedades diferentes) */
* {
  scrollbar-width: thin;
  scrollbar-color: #c89b3c #010a13;
}
