/* 🖼️ Contêiner Flexbox Principal */
ul {
  list-style: none;
  color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px auto;
  justify-content: center;
  overflow-x: scroll;
}
ul li {
  padding: 0px;
  margin: 0px;
  height: 91px;
}
