button {
  width: 75px;
  height: 40px;
  background-color: #152036;
  border: 1px solid #152036;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #e0bf7a;
  padding: 5px;
  /* font-size: 0.9rem; */
  cursor: pointer;
}
button:hover {
  color: #faf0cd;
  border-bottom: 2px solid #e0bf7a;
  /* background-color: #213354; */
}
/* p{
      font-size: 1.0rem;
      padding: 3px;
    } */
img {
  /* border-radius: 50%;/ */

  border: none;
}
