.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  justify-content: center;
  /* border: 1px solid gold; */
}
